:root {
	--primary: #24292f;
	--secondary: #57606a;
	--accent: #0969da;
	--muted: #6e7781;

	--background: #ffffff;
	--foreground: #24292f;
	--default: #fff;
	--border: #d0d7de;

	--success: #2ea043;
	--warning: #d29922;
	--danger: #cf222e;
}

[data-theme='dark'] {
	--primary: #c9d1d9;
	--secondary: #8b949e;
	--accent: #58a6ff;
	--muted: #6e7681;

	--background: #010409;
	--foreground: #cdd9e5;
	--default: #0d1117;
	--border: #30363d;

	--success: #3fb950;
	--warning: #e3b341;
	--danger: #f85149;

   --gradient: linear-gradient(180deg, #0d1117 0%, #010409 100%);
}

[data-theme='light'] {
	--primary: #24292f;
	--secondary: #57606a;

	--accent: #0969da;
	--muted: #6e7781;

	--background: #d4d4d4;
	--foreground: #24292f;
	--default: #fff;
	--border: rgb(171, 179, 190);

	--success: #2ea043;
	--warning: #d29922;
	--danger: #cf222e;

   --gradient: linear-gradient(180deg, #ffffff 0%, #d4d4d4 100%);
}
